streamlit
streamlit-authenticator
# streamlit-shap
# streamlit-elements==0.1.*
# streamlit-aggrid #==1.0.5
# streamlit-option-menu #==0.3.13
# streamlit-tags #==1.2.8

supabase
bs4
youtube-transcript-api
pytube
PyPDF2
qdrant_client
wordcloud

openai
langchain
langchain_community
langchain_openai
# transformers
# tensorflow
# h5py
# keras
# tf-keras
# matplotlib
# scikit-learn
# xgboost
# pandas_profiling
# streamlit_pandas_profiling

